.article-preview_display {
  display: flex;
  padding-right: 20%;
  padding-left: 20%;
  margin-bottom: 10%;
}

.article-preview_info-display {
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  align-self: flex-start;
}

.article-preview_title {
  font-size: 1.125em;
  margin-left: 5%
}

.article-preview_text-info-all {
  display: flex;
  flex-direction: column;
}